
* {
  margin: 0 auto;
  
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html
 {
  background-image: url('https://images.squarespace-cdn.com/content/v1/51548a58e4b0cf906c653f22/1554172376096-TR4JO5FMMHRPCDWHTB11/Comp_1.gif?format=1500w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
   
  font-family: "Poppins", sans-serif;
   
  color: #ffffff80;
  
  /* cursor: url("/public/icons8-rick-sanchez-100.png"), default; */
}
